@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #1c1c1c;
}

section {
  position: relative;
  min-height: 100vh;
  background: url(./img/space-1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 20px;
  justify-content: center;
  transition: 1s;
  filter: brightness(130%);
}

section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

section.active {
  background: url(./img/space-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: transparent;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  perspective: 1000px;
  transition: 1s;
}

section .container .flip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
}
section .container.active .flip {
  transform: rotateY(180deg);
}
section .container .flip::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  backdrop-filter: blur(10px);
  transition: 1s;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #1c1c1c;
  opacity: 0.8s;
  transition: 1s;
  animation: animateSignin 6s linear infinite;
  transform-origin: right;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container.active .user .imgBx {
  animation: animateSignin 6s linear infinite;
  transform-origin: left;
}
section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 1s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: white;
}

section .container .user .formBx form input {
  width: 100%;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 8px 10px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.2);
}

section .container .user .formBx form input[type="submit"] {
  max-width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
  background: #0026fc;
  color: white;
  max-width: 100px;
  padding: 8px 10px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

section .container .user .formBx form input[type="submit"]:hover {
  background: white;
  color: black;
  transition: 0.3s;
}

section .container.active .user .formBx form input[type="submit"] {
  background: red;
}

section .container.active .user .formBx form input[type="submit"]:hover {
  background: white;
  color: #111111;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: blue;
  transition: 1s;
}

section .container.active .user .formBx form .signup a {
  color: red;
}

section .container .flip .signupBx {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background: transparent;
}

section .container .flip .signupBx {
  position: absolute;
  backface-visibility: hidden;
  background: transparent;
}

@keyframes animateSignin {
  0%,
  100% {
    transform: translateX(-50px) rotateY(10deg);
  }

  50% {
    transform: translateX(0) rotateY(0);
  }
}
